/* Logo */
#logo img {
    width: 100%;
    margin: 1.5rem 0;
    z-index: -1;
}
/* Line-start */
.line-start-getstarted {
    text-align: center;
    margin-top: 1.5rem;
}
/* Getting started */
.getstarted {
    width: 90%;
    margin: 5rem 5%;

    .getstarted-info {
        margin: 3.5rem 0;

        h3 {
            font-family: "MavenPro Medium";
            font-size: 2.2rem;
            color: #0DA9EF;
        }
    
        p {
            font-family: "MavenPro Regular";
            font-size: 1.6rem;
            color: #fff;
        }
    }
}
/* Line-end */
.line-end-getstarted {
    text-align: center;
}